/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
	float: left;
	position: relative;
	border-radius: var(--box-border-radius);
	background-color:var(--color-theme-bgbox);
	padding :30px;
}

.widget:last-child {
	margin-bottom: 0;
}
.widget.widget_rss.text-left span {
    align-items: center;
    display: flex;
}
.widget.widget_rss.text-left span .rsswidget{
	line-height: 0;
    display: inline-block;
    margin-right: 5px;
}
.widget.widget_rss.text-left span:before{
	top: 0;
}
.widget ul {
	padding: 0;
	margin: 0; 
}

.widget ul li {
	list-style: none;
	padding-bottom: 15px;
}

.widget ul li a {
	color: var(--global-font-color);
	position: relative;
	-ms-word-wrap: break-word;
	word-wrap: break-word;

}
.widget ul li a :hover{
	color:var(--color-theme-primary);
}
.widget ul li a,
ul.wp-block-archives-list li a {
	position: relative;
	display: inline-block;
}

.widget_categories a:hover,
.widget_categories ul li a:hover,
.widget_pages ul li a:hover,
.widget.widget_archive ul li a:hover {
	color: var(--color-theme-primary);
}
.posted-on svg,
.posted-by svg
{
color: var(--color-theme-primary);
}

.geritcht-blog-meta ul li.widget_categories a,
.geritcht-blog-meta .widget_categories ul li a {
	padding: 3px 10px;
	font-size: var(--font-size-small);
	line-height: var(--font-line-height-body);
	letter-spacing: var(--letter-spacing-one);
	text-transform: uppercase;
	color: var(--global-font-title);
	
} 

.geritcht-blog-meta ul li.widget_categories a:hover,
.geritcht-blog-meta .widget_categories ul li a:hover {
	
	color: var(--color-theme-white);
}

.widget_pages li.page_item a{
	text-transform: capitalize;
	font-size: var(--font-size-body);	
}

.widget ul li a:hover {
	color: var(--color-theme-primary);
	text-decoration: none;
} 

.widget_categories ul li,
.widget_archive ul li,
.widget_pages ul li {
	color: var(--global-font-color);
	text-transform: capitalize;
}

.widget_tag_cloud ul li,
footer ul.wp-tag-cloud li {
	padding: 0 0 0 8px;
	margin: 0;
	display: inline-block;
	border: none;
	position: relative;
}

.widget ul li:last-child {
	border: none;
}

.widget ul ul.children {
	padding-left: 25px;
}

.widget ul.menu li {
	border: none;
}

.widget_categories ul ul.children,
.widget_pages ul ul.children {
	padding-top: 15px;
}

.widget.widget_nav_menu ul li a,
.widget ul.menu li a {
	padding: 10px 0 10px 0;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid var(--border-color-light);
}
.widget_nav_menu .menu .menu-item .toggledrop
{
	display: none;
}

.widget.widget_nav_menu ul li,
.widget ul.menu li {
	margin-bottom: 0;
	padding: 0;
}

.widget ul li a:hover::before {
	color: var(--color-theme-primary);
}

.widget.widget_nav_menu ul li a::before,
.widget ul.menu li a::before {
	top: 14px;
	color: var(--color-theme-primary);
}

.widget.widget_nav_menu ul li a::before {
	display: none;
	position: absolute;
	content: "\f101";
	color: var(--color-theme-primary);
	top: 14px;
	font-size: 16px;
	left: 0;
	font-family: FontAwesome;
	line-height: normal;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.widget.widget_nav_menu .menu-service-menu-container ul li a::before {
	display: none;
}

.widget .widget-title {
	position: relative;
	margin-bottom: 32px;	
	margin-top: 0;
	font-size: 24px;
}
.widget .footer-title{
	position: relative;
	margin-bottom: 24px;	
	margin-top: 0;
	font-size: 24px;
}
.widget-title {
	color:#DCCA87;
}
.footer-title{
	text-align: center;
}
.widget.widget_rss .widget-title span{
	display: flex;
    align-items: center;
}
.widget.widget_rss .widget-title span:before{
	top: 0;
}
.widget.widget_rss .widget-title span a.rsswidget{
	display: inline-block;
    line-height: 0;
	margin-right: 5px;
}  
.widget .widget-title span, .widget .footer-title span{
	position: relative;
	/* padding-left: 8px; */
	display: inline-block;
}

.widget .widget-title .title-border {
    color: var(--color-theme-primary);
    display: inline-block;
    margin: 0 0 0 15px;
    font-size: 20px;
    top: -3px;
    position: relative;
}

.widget .search-form input {
	padding-right: 60px;
	/* padding-left: 15px; */
	height: 45px;
	border-bottom: 1px solid var(--global-font-color);
	outline: none;
	border-radius: var(--border-radius);
	font-size: var(--font-size-body);
	line-height: var(--font-line-height-body);
}

 .widget .search-form input::placeholder{
	color: var(--global-font-color);
} 


.search-form {
	position: relative;
}
 
.search-form label {
	display: none;
}

.search-form .search-submit:hover { 
	background: var(--color-theme-primary-dark);
}

.search-form .search-submit .screen-reader-text { 
	display: none;
}

@media(max-width:479px){
	.widget .widget-title .title-border{margin: 0 0 0 10px;}
	.widget ul ul.children {
		padding-left: 15px;
	}
}